header {
    background-color: #60d0aeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 99999;

    .logo {
        height: 80px;
        left: 0;
        padding: 20px;
    }
}

.header-top-menu li{
    /* padding: 10px; */
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: #60d0aeff;
    padding: 10px 20px;
    :hover {
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        background-color: white;
        color: #60d0aeff;
    }
}



#nav-tabs a.active {
    display: block;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    background-color: white;
    color: #60d0aeff;
  }

.header a{
    color: white;
    text-decoration: none;
    padding: 10px;  
}


.header-top-menu {
    flex: 1;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    /* padding: 0 50px; */

    li {
      border-bottom: 2px solid transparent;
    }
  }


.signin, .signup {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    right : 0;
    color:white;

    :hover {
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        background-color: white;
        color: #60d0aeff;
    }

}

.header-top-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

